.buttonpage {
    border: none;
    transition: 0.3s;
  }
  .buttonpage:hover {
      opacity: 5;
      background-color:rgb(22, 97, 96);
      }
  .grad {
      background-image: linear-gradient(to right, rgba(13, 13, 13, 0), rgb(0, 242, 255));
  }
